# Ignore virtual environment
venv/

# Ignore vendored ffmpeg binaries
ffmpeg/

# Ignore incomplete downloads
*.part

# Ignore media files
*.mp4
*.mp3
*.wav
*.flv
*.avi
*.mkv
*.mov
*.wmv
*.webm
*.mpeg
*.ogg
*.3gp
*.m4a

# Ignore other common files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.psd
*.ai
*.eps

# Ignore temporary files and directories
__pycache__/
*.tmp
*.log
*.swp
*.bak
*.orig

# Ignore IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
